<%- include("header") -%>

<div class="container">
  <h1>Natalia Dulko</h1>
</div>
<div class="container">
  <h2>About me</h2>
  <p>I'm an engineer with over 10 years of customer support experience. I like to automate processes and help customers using my development skills.</p>
</div>

<div class="container top">
  <div class="container left">
    <div class="container">
      <div class="entry-row">
        <h2>Professional Experience</h2>
      </div>
      <div class="entry-row">
          <%- experience %>
      </div>
    </div>
    </div>

    <div class="container right">
      <div class="container">
        <div class="entry-row">
            <%- education %>
        </div>
        <div class="entry-row">
            <%- skills %>
        </div>
        <div class="entry-row">
            <%- languages %>
        </div>
      </div>
    </div>
  </div>

<%- include("footer") -%>
